body {
  overflow-x: hidden;
  color: #666;
}

h2 {
  font-size: 1.6em;
  text-align: center;
  margin: 0;
}

#chart {
  width: 100%;
}

#legend {
	margin-top: 1em;
	text-align: center;
}

.legend {
  list-style: none;
  font-size: 0.8em;
  margin-bottom: 0.2em;
  margin-left: 0.6em;
}

.legend-color {
  width: 3em;
  height: 1em;
  display: inline-block;
  margin-right: 0.2em;
}

.legend-dot {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.4em;
}

.footer {
  color: #bbb;
  text-align: right;
  font-size: 0.8em;
  margin: 0;
}

.footer a, .footer a:visited, .footer a:link  {
  color: rgba(0, 144, 210, 0.5);
  text-decoration: none;
}

.footer a:hover, .footer a:active  {
  color: rgba(0, 144, 210, 0.8);
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.4em;
  }
  .legend-color {
    width: 2em;
    height: 0.7em;
  }
}

