@media (max-width: 576px) {
    div.responsive {
        width: 330px;
    }div.responsive > iframe {
        width: 100%;
        height: 100%;
    }div.responsive > iframe.long {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 375px) {
    div.responsive {
        width: 280px;
    }div.responsive > iframe {
        width: 100%;
        height: 680px;
    }div.responsive > iframe.long {
        width: 100%;
        height: 800px;
    }
}
@media (min-width: 576px) {
    div.responsive {
        width: 100%;
    }div.responsive > iframe {
        width: 100%;
        height: 850px;
    }
}